@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
Body {
  margin: 0;
  padding: 0;
  font-family: "IM Fell English", serif;
}

/*             Nav bar                */
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 100%;
  background-position: center;
  position: relative;
}
.custom-shape-divider-bottom-1615545849 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615545849 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 269px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615545849 .shape-fill {
  fill: #f5deb3;
}
.navbar-nav .nav-link {
  text-transform: uppercase;
  position: relative;
}
.navbar-nav .nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  background: #ce0033;
  left: 0;
  bottom: -8px;
  position: absolute;
  transition: 0.5s;
}
.navbar-nav .nav-link:hover:after {
  width: 100%;
}
.navbar-nav .nav-link a:hover {
  color: #ce0033;
}
/*            Services section              */
.services {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  bottom: 2rem;
  padding: 10px 0;
  z-index: 0;
  display: block;
  border: 1px solid #e6e6e6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}


.icon1 {
  color: #a5a58d;
}

.services .icon {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}
.services .icon i {
  font-size: 50px;
  color: #ce0033;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.services .desc {
  padding: 0 5px;
}
.services .desc h3 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.services:hover {
  -webkit-box-shadow: 0px 16px 78px -34px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 16px 78px -34px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 16px 78px -34px rgba(0, 0, 0, 0.52);
  margin-top: -5px;
}
.services:hover .icon i {
  color: gray;
}
.services:hover .desc h3 {
  color: gray;
}

#colorlib-counter {
  position: relative;
  z-index: -1;
  padding: 7em 0;
}

.about-desc {
  width: 100%;
  float: left;
  z-index: 0;
  padding-right: 2em;
}
.services-section a {
  text-decoration: none;
}
.services-section p {
  color: white;
}
.services-section {
  margin-top: 200px;
}
/*             About section              */
.img-about {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 15px;
  margin: 15px;
}
.about-paragraphe h2 {
  font-size: 3rem;
  font-weight: 700px;
  line-height: 3.25rem;
  color: #ce0033;
  padding: 15px;
  margin: 15px;
}
.about-paragraphe p {
  font-size: 25px;
}
.container {
  position: relative;
  width: 50%;
}
.Titre-Back {
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin-top: 90px;
  font-size: 60px;
}
