@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
Body {
  margin: 0;
  padding: 0;
  font-family: "IM Fell English", serif;
  overflow-x: hidden !important;
}

h1 {
  color: #ce0033;
}
/*             Nav bar                */
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 100%;
  background-position: center;
}
.custom-shape-divider-bottom-1615545849 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615545849 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 269px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615545849 .shape-fill {
  fill: #f5deb3;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  position: relative;
}
.navbar-nav .nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  background: #ce0033;
  left: 0;
  bottom: -8px;
  position: absolute;
  transition: 0.5s;
}
.navbar-nav .nav-link:hover:after {
  width: 100%;
}
.navbar-nav .nav-link a:hover {
  color: #ce0033;
}
/*             Offers section              */
.single-blog .meta {
  font-weight: 400;
  text-align: left;
  margin-top: 40px;
}
p {
  margin-bottom: 1rem;
  margin-top: 0;
}
.single-blog a {
  color: #777;
  text-decoration: none;
}
.single-blog h5 {
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
h5 {
  color: #222;
}

.Title {
  color: rgba(0, 0, 0, 0.75);
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2rem;
  padding: 30px;
}

.bt a {
  color: white;
  text-decoration: none;
}

.bt a:hover{
  color: white;
}
.bt {
  border: transparent;
  background-color: #ce0033;
  color: #fff;
  border-radius: 20px;
  width: 100px;
  height: 30px;
}
/*             Footer               */
.social .details-btn {
  border: 1px solid #eee;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}
.social span {
  display: inline-flex;
}
.social .single-blogul {
  margin: 0;
  padding: 0;
}
.social ul li {
  float: left;
}
.social ul li a {
  display: block;
  color: #aaa;
  margin: 0 10px;
  font-size: 20px;
  transition: 0.5s;
  text-align: center;
  list-style: none;
}
.social ul li:hover a {
  color: #ce0033;
  transform: rotateY(360deg);
}

.card {
  padding: 2% 7%;
  color: #fff;
  background-color: #16151a !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  padding: 4px;
}

ul > li:hover {
  color: #ce0033;
  cursor: pointer;
}

hr {
  border-width: 3px;
}
.social a i {
  padding: 1%;
  font-size: 15px;
}

.social a i:hover {
  color: #ce0033;
  cursor: pointer;
}

.policy > div {
  padding: 4px;
}

.heading {
  font-family: "Titillium Web", sans-serif;
  color: #ce0033;
}

.divider {
  border-top: 2px solid rgba(189, 196, 203, 0.5);
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.social a {
  color: white;
}

.card-text li a {
  text-decoration: none;
  color: white;
}

.card-text li a:hover {
  color: #ce0033;
}

.newsletter-form input {
	height: 2rem;
  width: 12rem;
  padding: 1rem 1rem 1rem 1rem;
	border-radius: 1.5rem;
}
